body{
  box-sizing: border-box;
  background-color: rgba(245, 242, 237, 0.637);
}

.Navigator{
  background-color: rgba(214, 193, 230, 0.726);
}

.carousel-caption{
  text-shadow: 2px 2px 5px white;  color: red;
  font-size: large;
  font-weight: 200;
}

.small{
  width: fit-content;
  align-items: center;
  align-content: center;
}