body{
  box-sizing: border-box;
  background-color: rgba(245, 242, 237, 0.637);
}

.Navigator{
  background-color: rgb(212, 203, 219);
}

.carousel-caption{
  text-shadow: 2px 2px 5px white;  color: red;
  font-size: large;
  font-weight: 200;
}